{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title>Intensivmed.at</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="{% static 'kompendium/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rubik">
  </head>
  
  <body>
     <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
          <a class ="navbar-brand" href="{% url 'kompendium:index' %}">Home</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'kompendium:topics' %}">Kompendium</a></li>
            <li><a href="{% url 'kompendium:links' %}">Links</a></li>
            <li><a href="{% url 'kompendium:us_selektion' %}">Ultraschall</a></li>
            <li><a href="{% url 'kompendium:calcs' %}">Calcs</a></li>
            <li><a href="{% url 'kompendium:edic' %}">EDIC</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
  
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div class="row center-block">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </body>
</html>
