{% extends "kompendium/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="col-sm-8"> -->
  <form action="{% url 'kompendium:bga' %}" method='post'>
    {% csrf_token %}
    <!-- <div class="center-block col-sm-1"></div> -->

      <div class="row">
        <!-- <div class="center-block col-sm-10"> -->
        

          <div class="form-group">
          
            {% crispy form %}
        
          </div>
      
        <!-- </div> -->
      <!-- </div> -->

    <!-- <div class="center-block col-sm-1"></div> -->
  </form>
</div>
{% endblock content %}