{% extends 'kompendium/base.html' %}

{% block content %}

<ul>
{% for entry in entry %}
  <h1>{{ entry.heading_1 }}</h1>  
  <p>{{ entry.text1|linebreaks }}</p>
  <h2>{{ entry.heading_2 }}</h2>  
  <p>{{ entry.text2|linebreaks }}</p>
  <h2>{{ entry.heading_3 }}</h2>  
  <p>{{ entry.text3|linebreaks }}</p>
  <h2>{{ entry.heading_4 }}</h2>  
  <p>{{ entry.text4|linebreaks }}</p>
  <h2>{{ entry.heading_5 }}</h2>  
  <p>{{ entry.text5|linebreaks }}</p>
  <h2>{{ entry.heading_6 }}</h2>  
  <p>{{ entry.text6|linebreaks }}</p>
  <h2>{{ entry.heading_7 }}</h2>  
  <p>{{ entry.text7|linebreaks }}</p>
{% endfor %}
</ul>
{% endblock content %}
