{% extends 'kompendium/base.html' %}

{% block content %}
{% load static %}

<div class="col-sm-8">
  <h1><span class="label label-primary">NEWS</span></h1>
    {% for new in news %}
      <h4><span class="label label-info">{{ new.news_date_added|date:"d.m.Y H:i\h" }}</span></h4>
      <p>{{ new.news_text }}</p>
      {% if new.news_image %}  
        <p><img src="{{ new.news_image.url }}" class="img-responsive center-block" alt="Responsive image" /></p>
      {% endif %}
      <hr>
    {% endfor %}

{% if news.has_other_pages %}
  <ul class="pagination">
    {% if news.has_previous %}
      <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in news.paginator.page_range %}
      {% if news.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if news.has_next %}
      <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


</div>

<div class="col-sm-4">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/FOAMcc" data-widget-id="788103316454735872">#FOAMcc-Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endblock content %}
