{% extends "kompendium/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <form action="{% url 'kompendium:rechner' %}" method='post'>
    {% csrf_token %}
    <div class="container">
        <div class="center-block col-sm-1"></div>
        <div class="center-block col-sm-10">
          <div class="form-group">   
            {% crispy form %}
          </div>
        </div>
        <div class="center-block col-sm-1"></div>
    </div>
    <!--- <button name="submit">schick los</button> ---!>
  </form>

{% endblock content %}
